<div *ngIf="auth.isAuthenticated()">

  <!-- Head Section -->
  <div class="head-section bg">
    <div class="container">
      <h4>Confirm
        <span class="font-light"> Card </span>
        Submission</h4>
    </div>
  </div>
  
  <div class="container-page">
    
      <div class="box-page">          
      <div class="col l4 m5 s12 side-contact">
          <div class="panel">
              <ul>
                  <li>
                      <i class="material-icons">label</i>      
                      Your contact will be shared with Proferz users looking for offers on your card.<p></p>
                  </li>
                  <li>
                      <i class="material-icons">label</i>      
                      You can negotiate how much of offer benifit you want to share.<p></p>
                  </li>
                  <li>
                      <i class="material-icons">label</i>      
                      You choose terms of the deal.<p></p>
                  </li>
                  <li>
                      <i class="material-icons">label</i>      
                      Proferz users will contact you via email.<p></p>
                  </li>
              </ul>
          </div>
          <div class="col m60 s12">
              <button mat-button class="btn btn-primary" (click)="shareCard()">
                  <i class="material-icons">&#xE05C;</i> Share your card
              </button>
          </div>
      </div>
      
  </div>
  </div>
</div>