<!-- Head Section -->
<div class="head-section bg">
    <div class="container">
        <h4>Product
            <span class="font-light">Detail</span>
        </h4>
        <p>Angushop Product Detail</p>
    </div>
</div>

<!-- Loading -->
<div class="valign-wrapper" *ngIf="loadingState">
    <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
</div>

<div class="container-page" *ngIf="productState">
    <div class="box-page">
        <h3 class="title">{{product.productName}}</h3>

        <div class="row">
            <div class="col l7 s12">
                <div class="wrap-image">
                    <img [src]="productImage" class="img-detail" [alt]="product.productName" />
                </div>
            </div>
            <div class="col l5 s12">
                <div class="col l5 s12">
                    <div class="row">
                        <button [disabled]="procustCount >= product.stock" mat-button class="btn btn-primary" (click)="addCart('products',productsOrder)">
                            <i class="fa fa-handshake-o" aria-hidden="true"></i>
                            Connect with card-holders({{procustCount}})
                        </button>
                        
                    </div>
                    <div class="row">
                        <button [disabled]="procustCount >= product.stock" mat-button class="btn btn-primary" (click)="addCart('products',productsOrder)">
                            <i class="material-icons">&#xE02E;</i>
                            Share your card
                        </button>
                    </div>
                </div>

                <!-- <table class="bordered">
                    <tbody>
                        <tr>
                            <td>Stock</td>
                            <td>{{product.stock}}</td>
                        </tr>
                        <tr>
                            <td>color</td>
                            <td>{{product.color}}</td>
                        </tr>
                        <tr>
                            <td>size</td>
                            <td>{{product.size}}</td>
                        </tr>
                    </tbody>
                </table> -->

                <p class="margin-bottom10">{{product.description}}</p>

                <!-- Tag -->
                <mat-chip-list>
                    <mat-chip>Galaxy S8</mat-chip>
                    <mat-chip>Samsung</mat-chip>
                    <mat-chip>Deals</mat-chip>
                    <mat-chip>HDFC</mat-chip>
                </mat-chip-list>

            </div>
        </div>
    </div>
</div>