<div class="container">
    <div>
      <h1>Submit your card</h1>
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
          <label for="bank">Bank</label>
          <input type="text" class="form-control" id="bank"
                 [(ngModel)]="model.bank" name="bank">
        </div>
  
        <button type="submit" class="btn btn-success" >Submit</button>
  
       <!-- NOT SHOWN IN DOCS -->
       <!-- - -->
      </form>
    </div>
  
  </div>
  
  
  <!-- ====================================================  -->
  <hr>
  <style>
    .no-style .ng-valid {
    border-left: 1px  solid #CCC
  }
  
    .no-style .ng-invalid {
    border-left: 1px  solid #CCC
  }
  </style>