<!-- Start Banner -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col l7 m12 content">
                <h5 class="sub-title">Profferz</h5>
                <!--<h3 class="title">
                    Share offers you have access to. Make money and FRIENDS in the process.  
                </h3> -->
			
                <a mat-button *ngIf="!auth.isAuthenticated()" (click)="auth.login()" routerLink="/home" class="btn btn-default">Login</a>
				<a mat-button *ngIf="auth.isAuthenticated()" (click)="auth.logout()" routerLink="/home" class="btn btn-default">Logout</a>
                <a mat-button class="btn btn-primary" routerLink="/product3">Ongoing offers</a>
            </div>
        </div>  
    </div>
</div>
<!-- End Banner -->
<!-- Start feature -->
<div  class="wrap-feature">
    <div class="container">
        <div class="row" myMatchHeight="col">
            <div class="col l4 s12">
                <div class="item-feature">
                    <mat-icon class="font-light">&#xE8CC;</mat-icon>
                    <mat-icon class="bg">&#xE8CC;</mat-icon>
                    <h5 class="title">Grab Offers</h5>
                    <p>
                        Awesome offers going around. Profferz helps you grab them!
                    </p>
                </div>
            </div>
            <div class="col l4 s12">
                <div class="item-feature">
                    <mat-icon class="font-light">&#xE163;</mat-icon>
                    <mat-icon class="bg">&#xE163;</mat-icon>
                    <h5 class="title">Win Win</h5>
                    <p>
                        Share offers you have access to. Keep a part of the offer to yourself.
                    </p>
                </div>
            </div>
            <div class="col l4 s12">
                <div class="item-feature">
                    <mat-icon class="font-light">&#xE8D1;</mat-icon>
                    <mat-icon class="bg">&#xE8D1;</mat-icon>
                    <h5 class="title">Make Friends</h5>
                    <p>
                        Shop together with Profferz users.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End feature -->
<!-- Head Section -->
<div class="head-section">
    <div class="container">
        <h4>Ongoing Offers</h4>
    </div>
</div>
<!-- End Section -->
<!-- Start Product -->
<div class="product-home">
    <app-deal 
        [setlimit]="8" 
        [paginate]="false"
        (detail)="detailProduct($event)"
    ></app-deal>
</div>
<!-- End Product -->
