<!-- Start Wrap -->
<div ng-init="onLoad()" class="wrap" [class.on]="mainclass">
    <app-side (toggle)="mainclass = !mainclass"></app-side>
    <div class="main">
        <router-outlet></router-outlet>
        <!-- Start Footer -->
        <footer>
            <div class="container">
                <div class="sharethis-inline-share-buttons"></div>                
                <p class="margin-bottom0">2017 © Copyright <a href="http://google.com/" target="_BLANK">amanmanocha</a>. All rights Reserved.</p>
            </div>
        </footer>
        <!-- End Footer -->
    </div>
</div>
<!-- End Wrap -->
<!-- Loading Slim -->
<div class="loading-slim">
    <ng2-slim-loading-bar [color]="'#FF1744'" [height]="'2px'"></ng2-slim-loading-bar>
</div>